body {
    margin: 10rem;
}

.contacts {
    display:inline-flexbox; 
    flex-wrap: wrap; 
    /* display: flex;
    flex-wrap: unset;      */
}

.contact-card {
    flex-basis: 250px;
    margin: 20px;
}

.contact-card  img {
    width: 50%;
    height: 50%;
}

/* .contact-card  h3 {
    text-align: left;
} */

.contact-card  p {
    font-size: 12px;
}
.container-z{
   margin-top: 170px;
   margin-left: 100px;
   /* background: rgb(216, 121, 121); */
   width:1100px;
   height:500px;
    overflow:auto;
   /* height:500px; */
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   padding-top: 1rem;
   background-color: rgb(215, 224, 235);
    box-shadow: 10px 10px;
    padding-bottom: 1rem;
}



.cardstyle
{
    align-content: center;
    margin:1rem;
    padding:2rem;
    width:100%;
   
}

.stamps
{
    width:30rem;
    height:30rem;
    /* overflow: hidden; */
    padding:2rem;
}
/* .part1
{
    width:50%;
    height:40%;
    overflow: hidden;
}

.part2
{
    width:50%;
    height:40%;
    overflow: hidden;
} */
.containernew
{
    margin:7rem;
    padding:2rem;
}