.toolbar
{   top:0;
    left:0;
    width:100%;
    position:fixed;
    height:70px;
    background-color: rgb(209, 224, 238)   

}
.image{
    width:225px;
    height:70px;
    font-size:none;
    text-decoration: none;
}
.container-b{
    /* width: 1029px;
    height:400px;
    background: rgb(159, 167, 201); */
    /* left: 140px;
    top: 170px;
    position: absolute;
    padding-left: 2rem;
    padding-top: 2rem; */

    margin-top: 170px;
    margin-left: 140px;
    /* background: rgb(216, 121, 121); */
    width:1000px;
    height:250px;
     overflow:auto;
    /* height:500px; */
    padding-left: 1.5rem;
    padding-right: 3rem;
    padding-top: 1rem;
    background-color: rgb(88, 153, 228);
    box-shadow: 10px 10px;
    }
/* .jumbotron{
    width:210px;
    height:110px;
    background:red;
    left: 62px;

top: 131px;
position: absolute;
} */


.button_space
{

    /* height:300px; */
    font-size: 4.5rem;
    align-items: flex-end;
    text-align: center;
    display: inline-block;
   

}
.toolbar_navigation
{
    display:flex;
    background-color: rgb(2, 147, 243);
    align-items: center;
    padding:0 1rem;
}
.spacer
{
    flex:1;
}
.toolbar_navigation-items ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;

}

.toolbar_navigation-items li{
   padding: 0 0.5rem;

}
.toolbar_navigation-items a
{color:blue;
text-decoration:none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active
{

    color:rgb(78, 9, 32);
}

 
.actual{
    /* align-items: flex-end; */
    text-align: center;
    display: inline-block;
    font-size: 4.5rem;
    display:flex;  
    justify-content:center; 
    align-Items:center;
    margin:25px;
   }
   .footer {
    position: fixed;
    bottom: 0;
  }
  li{
      list-style: none;
      color:rgb(190, 188, 188);
  }